<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>이름을 입력해주세요.</p>
    <form action="/user">
        <label for="">이름</label>
        <input type="text" name="" id="">
        <input type="submit" value="제출">
    </form>
  </body>
</html>
